# -----------------------------
# Python cache / compiled files
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*

# -----------------------------
# Virtual environments
# -----------------------------
venv/
.venv/
env/
ENV/

# -----------------------------
# OS junk
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Editor files
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Build / packaged files
# -----------------------------
dist/
build/
*.exe
*.spec

# -----------------------------
# Game save data
# -----------------------------
saves/run_data.json

# -----------------------------
# Python packaging
# -----------------------------
*.egg-info/
.eggs/
saves/*
!saves/.keep